﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.FormPage>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = null;
}

<h2>Here comes the Form</h2>

@Umbraco.RenderMacro("renderUmbracoForm", new {FormGuid="fd14dd62-eb0a-4ee0-ac2f-b1a4f5722081", FormTheme="", ExcludeScripts="0"})


